In [ ]:
# 1. Create a string with your name and print it
name = "Gangadhar Tejesh"
print(name)

In [ ]:
# 2. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

In [ ]:
#3. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

In [ ]:
#4.Convert the string "hello" to uppercase
s = "hello"
print(s.upper())

In [ ]:
#5.Replace "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

In [ ]:
#6.Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

In [ ]:
# 7.  Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

In [ ]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

In [ ]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

In [ ]:
#10. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

In [ ]:
#11. Create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

In [ ]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

In [ ]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)
tup = (10, 20, 5, 15)
print(min(tup))

In [ ]:
#14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

In [ ]:
#15. Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

In [ ]:
#16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

In [ ]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
#18. Remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

In [ ]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

In [ ]:
#20.Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

In [ ]:
#21. Create a dictionary with keys "name", "age", and "city" and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

In [ ]:
#22. Add a new key-value pair "country": "USA" to the dictionary
person["country"] = "USA"
print(person)

In [ ]:
#23. Access the value associated with "name" in the dictionary {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])

In [ ]:
#24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

In [ ]:
#25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

In [ ]:
#26. Create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

In [ ]:
#27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print it
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

In [ ]:
#28. Create a list with strings and print the element at the third index
lst = ["apple", "banana", "cherry", "date", "elderberry"]
print(lst[3])

In [ ]:
#29. Combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

In [ ]:
#30. Convert a list of strings into a set
lst = ["apple", "banana", "cherry", "apple"]
unique_set = set(lst)
print(unique_set)